* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 20px auto 0;
  width: 490px;
  color: #24b1d9;
}

.empty-state-box {
  max-width: 800px;
  height: 450px;
  margin: 50px auto;
  text-align: center;
  border: 1px solid #24b1d9;
  padding: 30px;
}

.carousel-box {
  max-width: 800px;
  height: 450px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  width: 100%;
  height: 100%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-box:hover .btn-slide {
  opacity: 1;
}

.btn-slide {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid whitesmoke;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.4s;
}

.btn-slide:hover {
  border: 1px solid transparent;
}

.btn-slide img {
  width: 30px;
  height: 20px;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%) rotate(180deg);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.loader img {
  width: 200px;
  height: 200px;
  animation: spin 800ms infinite linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
      opacity: 1;
  }
  to {
      transform:rotate(360deg);
      opacity: 0.1;
  }
}